<!DOCTYPE html>
<head>
    <title>{% block title %}tif{% endblock %}</title>
</head>
<body>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<div id="sidebar">
    <h5>Hello from view.func -> INDEX :)</h5>
</div>
</body>
</html>
